html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: #000 url("/images/woods.jpg") repeat-y;
  background-size: 100%; }

.mk-btn {
  border: 2px solid transparent;
  padding: .5rem 1rem;
  font-size: .75rem;
  font-weight: bolder;
  text-transform: uppercase; }
  .mk-btn i {
    margin-right: .5rem; }

.mk-select,
.mk-input {
  box-sizing: border-box;
  border: 2px solid #919191;
  padding: .5rem 1rem;
  font-size: .75rem; }

.news__box {
  font-size: .75rem;
  text-align: center;
  background: #fff;
  padding: 10px; }
  .news__box__picture {
    margin-bottom: .5rem;
    display: inline-block;
    width: 100%; }
  .news__box__picture img {
    height: auto;
    width: 100%; }
  .news__box__title {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #5a5a5a;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 700;
    display: inline-block;
    width: 100%; }
  .news__box__subtitle {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #919191;
    white-space: nowrap;
    display: inline-block; }

.productBox {
  background: #fff;
  display: inline-block;
  font-size: .75rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%; }
  .productBox__link {
    display: inline-block;
    width: 100%; }
  .productBox .productBox__image {
    display: inline-block;
    height: auto;
    margin: 0;
    width: 100%;
    margin-bottom: .5rem; }
  .productBox__title {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #5a5a5a;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%; }
  .productBox__price {
    color: #919191;
    font-weight: 700; }

.markshop-logo {
  text-align: center;
  background: transparent url("/images/header.jpg") no-repeat;
  background-position: center center;
  background-size: cover; }
  .markshop-logo img {
    position: relative;
    width: 18rem;
    height: auto;
    line-height: 0;
    bottom: -0.5rem; }

#header {
  padding: 2.3576515979%;
  background: #1e1e1c;
  color: #787878;
  width: 100%;
  font-size: .75rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 2rem; }
  #header a {
    text-decoration: none; }

.topnav {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: 100%;
  text-align: justify; }
  .topnav__account, .topnav__followus {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
    padding: 0; }
    .topnav__account:last-child, .topnav__followus:last-child {
      margin-right: 0; }
  .topnav__followus__link {
    padding: 0 .5rem;
    font-size: 1rem;
    line-height: .75rem;
    color: #787878; }
  .topnav__account {
    margin-right: 0;
    text-align: right;
    text-transform: uppercase; }
    .topnav__account__link {
      font-weight: 700;
      display: inline-block;
      color: #787878;
      padding: 0 .5rem; }
  .topnav__pages {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    padding: 0;
    text-align: center;
    text-transform: uppercase; }
    .topnav__pages:last-child {
      margin-right: 0; }
    .topnav__pages__link {
      color: #fff;
      font-weight: 700;
      display: inline-block;
      padding: 0 .5rem; }
  .topnav__list {
    display: inline-block;
    list-style-type: none;
    white-space: nowrap; }
  .topnav__item {
    display: inline-block; }

.home-section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .home-section::after {
    clear: both;
    content: "";
    display: table; }

.home-brands {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto; }
  .home-brands::after {
    clear: both;
    content: "";
    display: table; }
  .home-brands__item {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 9.0154208018%; }
    .home-brands__item:last-child {
      margin-right: 0; }
    .home-brands__item img {
      width: 100%;
      height: auto; }

.home-section__title {
  font-size: .75rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .home-section__title:before, .home-section__title:after {
    content: "";
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    vertical-align: center;
    -ms-flex: 1;
    flex: 1; }
  .home-section__title span {
    align-self: center;
    -ms-flex-item-align: center;
    padding: 0 10px; }

.home-news {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px; }
  .home-news::after {
    clear: both;
    content: "";
    display: table; }

.home-brands {
  margin-bottom: 2rem; }

.home-products {
  margin-bottom: 2rem; }

.home-section-newsletter-n-local {
  margin-bottom: 2rem; }

.home-stores {
  text-align: center;
  vertical-align: middle; }
  .home-stores__cta {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin: auto;
    padding: 1rem 2rem;
    text-decoration: none; }

.home-newsletter__headline, .home-newsletter__subline {
  margin-bottom: .75rem; }

.home-newsletter__input {
  background: white;
  display: inline-block;
  position: relative; }
  .home-newsletter__input input {
    background: transparent;
    border: 0;
    font-size: .75rem;
    padding: 1rem 2rem; }
  .home-newsletter__input .fa {
    pointer-events: none;
    position: relative;
    left: -1rem; }

.home-section-newsletter-n-local {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .home-section-newsletter-n-local .home-newsletter,
  .home-section-newsletter-n-local .home-stores {
    display: table-cell;
    width: 50%;
    padding: 3rem;
    background: #ccc;
    font-size: .75rem;
    text-transform: uppercase; }

.owl-carousel .owl-nav {
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: 50%;
  left: 0;
  color: rgba(255, 255, 255, 0.5); }

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  transform: translate3d(0, -100%, 0); }

.owl-carousel .owl-prev {
  position: absolute;
  left: 0;
  margin-left: -1rem; }

.owl-carousel .owl-next {
  position: absolute;
  right: 0;
  margin-right: -1rem; }

#footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #ccc;
  padding: 1rem;
  text-transform: uppercase;
  font-size: .75rem; }
  #footer::after {
    clear: both;
    content: "";
    display: table; }
  #footer a {
    color: #ccc; }
  #footer .section {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 18.1138787216%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal; }
    #footer .section:last-child {
      margin-right: 0; }
    #footer .section:nth-child(5n) {
      margin-right: 0; }
    #footer .section:nth-child(5n+1) {
      clear: left; }
    #footer .section--contact ul {
      margin-bottom: 1rem; }
    #footer .section__title {
      margin-bottom: .75rem; }
  #footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  #footer li {
    padding: 0;
    margin: 0;
    line-height: 1.5rem; }
  #footer a {
    text-decoration: none; }

.footer-background {
  background: #333; }

.product-displayer {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
  padding: 0;
  text-align: center; }
  .product-displayer:last-child {
    margin-right: 0; }
  .product-displayer__view {
    display: inline-block;
    line-height: 0;
    margin: 0 auto; }
    .product-displayer__view img {
      width: 100%;
      height: auto; }
  .product-displayer__thumbnails {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .product-displayer__thumbnails::after {
      clear: both;
      content: "";
      display: table; }

.mk-product-page {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 74.4105871005%;
  margin-bottom: 2rem;
  color: #fff; }
  .mk-product-page:last-child {
    margin-right: 0; }
  .mk-product-page__separator {
    border: 0;
    opacity: .5;
    border-bottom: 1px solid #fff; }
  .mk-product-page__title {
    text-transform: uppercase;
    font-weight: normal; }
  .mk-product-page__subtitle {
    text-transform: uppercase;
    font-weight: normal;
    color: #FE0000;
    font-size: .75rem; }

.product-buy {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .product-buy:last-child {
    margin-right: 0; }
  .product-buy__color {
    text-transform: capitalize;
    border: 2px solid transparent;
    display: inline-block; }
    .product-buy__color.selected {
      border: 2px solid #FE0000; }
    .product-buy__color label {
      display: inline-block;
      padding: 1rem;
      cursor: pointer; }
    .product-buy__color input {
      display: none; }
    .product-buy__color.disabled {
      color: #919191; }
  .product-buy__size {
    display: block;
    width: 60%;
    margin-bottom: 1rem; }
  .product-buy__qty {
    width: 4rem;
    padding-right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem; }
  .product-buy__total {
    font-size: 1.25rem; }
  .product-buy__buy {
    background: #FE0000;
    color: #FFF;
    display: block;
    width: 60%;
    cursor: pointer; }

.sidebar {
  background: rgba(30, 30, 28, 0.75);
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
  font-size: .75rem; }
  .sidebar:last-child {
    margin-right: 0; }
  .sidebar__subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #FE0000;
    font-size: .75rem;
    padding: .5rem 1rem; }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .sidebar li {
    text-transform: uppercase; }
    .sidebar li a {
      color: #919191;
      text-decoration: none;
      padding: .5rem 1rem;
      display: inline-block;
      width: 100%; }

.mk-catalog {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .mk-catalog::after {
    clear: both;
    content: "";
    display: table; }
  .mk-catalog__products {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%;
    margin: 0 auto; }
    .mk-catalog__products:last-child {
      margin-right: 0; }
    .mk-catalog__products .productBox {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      margin-bottom: 2rem; }
      .mk-catalog__products .productBox:last-child {
        margin-right: 0; }
      .mk-catalog__products .productBox:nth-child(3n) {
        margin-right: 0; }
      .mk-catalog__products .productBox:nth-child(3n+1) {
        clear: left; }

.mk-paginator {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  background: #fff;
  padding: .5rem 1rem;
  font-size: .75rem;
  margin-bottom: 2rem;
  color: #919191; }
  .mk-paginator::after {
    clear: both;
    content: "";
    display: table; }
  .mk-paginator a {
    text-decoration: none;
    color: #919191;
    padding: .5rem; }
  .mk-paginator .disabled {
    display: none; }
  .mk-paginator .active {
    font-weight: 700;
    padding: .5rem;
    color: #5a5a5a; }
  .mk-paginator__amount {
    @display : inline-block; }
  .mk-paginator ul, .mk-paginator li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0; }

.checkout-page {
  background: #fff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .checkout-page::after {
    clear: both;
    content: "";
    display: table; }
  .checkout-page table {
    margin: auto; }
    .checkout-page table thead th {
      text-transform: uppercase;
      font-weight: normal;
      padding: 1rem; }
  .checkout-page td {
    padding: 1rem;
    border-bottom: 1px solid grey; }
  .checkout-page__total {
    padding: 1rem;
    text-align: right;
    font-size: 2rem; }

/*# sourceMappingURL=app.css.map */
