.order-box {
  .order-product {
    padding: .5rem;
  }
  &__status {
    @include span-columns(12);
    padding: .5rem;
    background: rgba(black, .5);
    > .item {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  &__products {
    @include span-columns(12);
    background: rgba($gray, .5);
  }

  &__price {
    background: rgba(black, .5);
    padding: .5rem;
    text-align: right;
    font-size: 1rem;
  }
}
