@import 'product-displayer';
@import 'product-page';
@import 'product-buy';
@import 'sidebar';

.mk-catalog {
  @include outer-container;

  &__products {
    @include span-columns(9);
    margin: 0 auto;

    .product-box {
      @include span-columns(4);
      @include omega(2n+1);
      margin-bottom: 2rem;
    }
  }
}

.mk-paginator {
  @include outer-container;
  text-align: right;
  background: #fff;
  padding: .5rem 1rem;
  font-size: .75rem;
  margin-bottom: 2rem;
  color: $light-gray;

  a {
    text-decoration: none;
    color: $light-gray;
    padding: .5rem;
  }
  .disabled {
    display: none;
  }
  .active {
    font-weight: 700;
    padding: .5rem;
    color: $gray;
  }

  &__amount {
    @display: inline-block;
  }

  ul, li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
