.home {
  position: relative;
  z-index: 1;
  &-section {
    @include outer-container;
  }

  &-brands {
    @include outer-container(70%);

    &__item {
      @include span-columns(12/9);

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &-section__title {
    font-size: .75rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    @include display(flex);
    @include align-items(center);

    &:before,
    &:after {
      content: "";
      border-bottom: 2px solid rgba(white, 0.5);
      vertical-align: center;
      flex: 1;
    }

    span {
      @include align-self(center);
      padding: 0 10px;
    }
  }

  &-news {
    @include outer-container(70%);
    margin-top: -3rem;
    margin-bottom: 2rem;
    background: rgba(black, 0.5);
    padding: 10px;
    .post-box__description,
    .post-box__title {
      color: $gray;
    }
    .post-box__date {
      display: none;
    }
    .owl-carousel {
      background: white;
      padding: .5rem;
      color: $dark;
    }
  }

  &-brands {
    margin-bottom: 2rem;
  }

  &-products {
    margin-bottom: 2rem;
  }

  &-section-newsletter-n-local {
    margin-bottom: 2rem;
  }

  &-stores {
    text-align: center;
    vertical-align: middle;

    &__cta {
      $color: #fff;
      border: 2px solid $color;
      color: $color;
      display: inline-block;
      font-weight: 700;
      margin: auto;
      margin-top: 2rem;
      padding: 1rem 2rem;
      text-decoration: none;
    }
  }
  &-newsletter {
    &__headline,
    &__subline {
      margin-bottom: .75rem;
    }
    .message {
      font-size: 1rem;
      text-transform: none;
      background: #090909;
      padding: .5rem 1rem;
    }
    &__input {
      display: inline-block;
      position: relative;
      width: 100%;
      form {
        background: white;
      }
      input {
        background: transparent;
        width: 100%;
        border: 0;
        font-size: .75rem;
        padding: 1rem 2rem;
      }
      .fa {
        pointer-events: none;
        position: relative;
        margin-left: -1rem;
        color: #ccc;
      }
    }
  }
}

.home {
  &-section {
    &-newsletter-n-local {
      color: white;
      .home-newsletter,
      .home-stores {
        @include span-columns(6);
        @include pad(3rem);
        height: 14rem;
        font-size: .75rem;
        text-transform: uppercase;
        background-size: cover;
      }
    }
  }
  @include reset-display;
}

.home-newsletter {
  background: transparent url('/images/newsletter-subscribe.jpg') no-repeat;
}

.home-stores {
  background: transparent url('/images/locales-home.jpg') no-repeat;
}
