.product-displayer {
  @include span-columns(6);
  @include pad(0);
  background: #ccc;
  text-align: center;
  &__view {
    display: inline-block;
    line-height: 0;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__thumbnails {
    @include outer-container;
  }

}
