.mk-product-page {
  @include span-columns(9);

  margin-bottom: 2rem;
  color: $white;

  &__separator {
    border: 0;
    opacity: .5;
    border-bottom: 1px solid $white;
  }

  &__title {
    text-transform: uppercase;
    font-weight: normal;
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: normal;
    color: $red;
    font-size: .75rem;
  }
}
