@import 'node_modules/bourbon/app/assets/stylesheets/bourbon';
@import 'node_modules/bourbon-neat/app/assets/stylesheets/neat';

@import 'home';
@import 'carousel';
@import 'footer';
.news {
  &__box {
    font-size: .75rem;
    text-align: center;

    &__picture {
      margin-bottom: .5rem;
      display: inline-block;
      width: 100%;
    }

    &__picture img {
      height: auto;
      width: 100%;
    }

    &__title {
      @include ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      font-weight: 700;
      display: inline-block;
      width: 100%;
    }

    &__subtitle {
      @include ellipsis;
      white-space: nowrap;
      display: inline-block;
    }
  }
}

.productBox {
  $background: #fff;
  background: $background;
  display: inline-block;
  font-size: .75rem;
  padding-bottom: 1rem;
  text-align: center;

  &__image {
    display: inline-block;
    height: auto;
    margin: 0;
    width: 100%;
    margin-bottom: .5rem;
  }

  &__title {
    @include ellipsis;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
  }

  &__price {
    color: #ccc;
    font-weight: 700;
  }
}

#header {
  background: #ccc;
  width: 100%;
  font-size: .75rem;
  @include pad;
  padding-top: 0;
  padding-bottom: 0;
  a {
    text-decoration: none;
  }
}

.topnav {
  @include ellipsis;
  width: 100%;
  text-align: justify;

  &__account,
  &__followus {
    @include span-columns(3);
    @include pad(0);

  }

  &__followus{
    &__link {
      padding: 0 .5rem;
      font-size: 1rem;
      line-height: .75rem;
    }
  }

  &__account {
    @include omega;
    text-align: right;
    text-transform: uppercase;
    &__link {
      font-weight: 700;
      display: inline-block;
      padding: 0 .5rem;
    }
  }

  &__pages {
    @include span-columns(6);
    @include pad(0);
    text-align: center;
    text-transform: uppercase;
    &__link {
      font-weight: 700;
      display: inline-block;
      padding: 0 .5rem;
    }
  }

  &__list {
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
  }

  &__item {
    display: inline-block;
  }
}

.product-displayer {
  @include span-columns(6);
  @include pad(0);
  background: #ccc;

  &__view {
    background-color: purple;
    display: inline-block;
    line-height: 0;
  }
}
